@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
@import url('https://fonts.googleapis.com/css?family=Titillium+Web')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import '_variables'

*
*::before
*::after
  box-sizing border-box

body, html
  min-height 100vh
  min-width 100vw
  display flex
  justify-content center
  align-items center

body
  font-family 'Titillium Web', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 200%

.stuff
  text-align center
  display flex
  justify-content center
  align-items center
  align-self center
  flex-direction column
  padding 1rem
  max-width 16rem
  margin 0 auto

textarea, input { outline: none; }

input, textarea, .btn
  display block
  width 100%
  outline none

  font-family inherit
  font-size inherit
  color inherit
  border solid 0.2rem #333
  background #222
  border-radius 0.2rem
  padding 0.5rem

  transition border-color 0.2s ease

input[type="text"], textarea
  &:focus, &.focus
    border-color $brand-primary-color

button, .btn
  &:active, &.active
    border-color $brand-primary-color

  -webkit-tap-highlight-color alpha($brand-primary-color, 0.5)
  tap-highlight-color alpha($brand-primary-color, 0.5)

  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -o-user-select none
  user-select none

textarea
  font-size 50%
