// Smae Recruitment Gateway FrontEnd
doctype html
html
	head
		meta(charset="utf-8")
		meta(viewport="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title MjEy==
	body
		#mount
			router-view

		audio#ambience(loop autoplay)
			source(src="/static/audio/ambience-long.ogg" type="audio/ogg")

		audio#button-press
			source(src="/static/audio/button.ogg" type="audio/ogg")
		audio#click(loop autoplay muted)
			source(src="/static/audio/click-long.ogg" type="audio/ogg")
		//- audio#slide-click-2
			source(src="/static/audio/fast-slide-click.ogg" type="audio/ogg")
		//- audio#slide-click-1
			source(src="/static/audio/slide-click.ogg" type="audio/ogg")
		audio#error-sound
			source(src="/static/audio/error.ogg" type="audio/ogg")
		audio#success-sound
			source(src="/static/audio/success.ogg" type="audio/ogg")
